
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; padding-right: 20px">

    <!--bottone del menu quando collassa-->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html" style="padding: 0px;">
            <div class="row">
            <div class="col-xs-12">
                <img src="assets/logoSaipem.jpg" class ="logo" alt="BoM-ELE">
                <label class="appTitleBig saipemOrange">
                    BoM-ELE
                </label>
                <label class="appTitleSmall saipemGreen">
                    Manual BoM Electrical
                </label>
            </div> 
            </div> 
        </a>
    </div>

    <!--menu top pagina lato destro-->
    <ul class="nav navbar-top-links navbar-right">
    <label class="welcome saipemGreen" *ngIf="projectIdMain == null">Welcome {{username}}</label>
     <label class="welcome saipemGreen" *ngIf="projectIdMain != null">Welcome {{username}}, {{projectIdMain.ProjectNumber}} - {{projectIdMain.Description}}</label>
        <li class="dropdown">
            <a class="dropdown-toggle saipemGreen" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw saipemGreen"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a (click)="logOut()"><i class="fa fa-sign-out fa-fw saipemGreen"></i> Logout</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<div class="container">
  <div>
    <h1>Select project</h1>
    <ul>
      <li *ngFor="let project of projects" class>
        <div class="project-node">
          <div class="pull-left project-label">{{project.code}}&nbsp;</div><a class="btn btn-xs btn-success" (click)="selectProject(project.code)"><span class="glyphicon glyphicon-check"></span> </a>
        </div>
      </li>
    </ul>
  </div>
</div>