.selectContainer
{
  display: inline-block;
  min-width: 450px;
}

.group-part-block
{
  float: left;
  padding: 10px 5px;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
table > thead > th
{
  padding: 5px;
  border: 1px solid black;
}
.errorMessage
{
  font-size: large;
  color: red;
}

.ng-select
{
  background-color: #ffffff;
}

.control-error
{
  background-color: #ffaaaa;
}
