div.positionsLoading
{
  background-image: url('Content/Images/loader00.gif');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 80px;
}
span.reducedFont
{
  font-size: 0.5em;
}