<h1>{{nodeName}}</h1>
<div *ngIf="!nodeLocked">
  <a class="btn btn-m btn-success" (click)="refreshList()"><span class="glyphicon glyphicon-refresh"></span></a>
  <a class="btn btn-m btn-success" (click)="addCatalogItem()"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add catalog item</a>
  <a class="btn btn-m btn-success" (click)="addTagItem()"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add tag item</a>
</div>
<div [ngClass]="{'positionsLoading': loadingVisible}">
<table class="table-bordered" style="width: 90%">
  <thead>
    <tr>
      <th>Group</th>
      <th>Part</th>
      <th>Commodity Code</th>
      <th>Tag</th>
      <th>Description</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pos of positionsService.positions | async">
      <td>{{pos.groupCode}}</td>
      <td>{{pos.partCode}}</td>
      <td>{{pos.commodityCode}}</td>
      <td>{{pos.tag}}</td>
      <td>{{pos.description}}</td>
      <td>{{pos.quantity}}</td>
      <td *ngIf="!nodeLocked">
        <a class="btn btn-xs btn-warning" (click)="editPosition(pos)"><span class="glyphicon glyphicon-edit"></span></a>
        <a class="btn btn-xs btn-danger" (click)="deletePosition(pos)"><span class="glyphicon glyphicon-remove-sign"></span></a>
      </td>
    </tr>
  </tbody>
</table>
</div>
<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" #confirmModal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Confirm deletion</h4>
    </modal-header>
    <modal-body>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="confirmModal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-primary" autofocus (click)="confirmDeletion()">Confirm</button>
    </modal-footer>
</modal>