.selectContainer
{
  display: inline-block;
}

.group-part-block
{
  float: left;
  padding: 10px 5px;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.size-class {
  width: 170px
}
